@charset "utf-8";
p{color: yellow;}

@media screen and (max-width:1024px) and (min-width:900px) {
    p {color: red; width: 500px; background: yellowgreen;}
    body{background: green;}
}

/* 768이하일 때 p폰트 컬러 흰색 바디 백그라운드 #333 */

@media screen and (max-width:768px) {
    p{color: white;}
    body{background: #333;}
}