@charset "utf-8";
*{margin: 0; padding: 0;}
.wrap{width: 100%;}
.inner{width: 1280px; margin: 0 auto;}
header{width: 100%; height: 100px; background: #aaa;}
nav{width: 100%; height: 40px; background: #bbb;}
.main_visual{width: 100%; height: 300px; background: pink;}
.contents{
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
}
.contents .contents1{width:50%; height: 150px; background: #ccc;}
.contents .contents2{width:50%; height: 150px; background: #ddd;}
.contents .contents3{width:50%; height: 150px; background: plum;}
.contents .contents4{width:50%; height: 150px; background: seagreen;}
footer{width: 100%; height: 80px; background: #aaa;}
footer .inner{display: flex;}
footer .logo{width: 30%; height:80px; background: chocolate;}
footer .f_right{width: 70%; height: 80px; background: mediumslateblue;}
footer .f_right .fam{width: 100%; height: 50%; background: red;}
footer .f_right .copy{width: 100%; height: 50%; background: lavender;}


@media all and (max-width:1279px) {
    .wrap{width: 95%; margin: 0 auto;}
    .inner{width: 100%; }
    nav{display: none;}
    .main_visual{width: 100%; height: 400px; background: pink;}
    .contents{
        width: 100%; 
        display: block;
    }
    .contents .contents1{ height: 300px; background: #ccc;}
    .contents .contents2{  background: #ddd;float: left;}
    .contents .contents3{  background: plum;float: left;}
    .contents .contents4{display: none;}
    /* footer{width: 95%; height: 80px; background: #aaa;} */
    footer .inner{display: flex; }
    footer .f_right .fam{display: none;}
    footer .f_right .copy{height: 80px; background: lavender;}
}
    @media all and (max-width:767px) {
        .wrap{width: 100%;}
        .main_visual{height: 300px;}
        .contents .contents1,
        .contents .contents2,
        .contents .contents3{width: 100%; height: 150px; float: none;}
        .contents .contents4{display: block; width: 100%; height: 150px;}
        footer .f_right  footer .logo{display: none;}
        footer::after{content: 'footer';}
    }
