@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Gaegu&family=Kirang+Haerang&family=Noto+Serif+KR:wght@200..900&display=swap');

* {margin: 0; padding: 0; }
body{
    background-color: blueviolet;
}
.container {
    width: 500px; 
    border: 1px solid #fff;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* ul list-style 다 다르게 */
.con1 ul{
    list-style: decimal-leading-zero;
    list-style-position: inside;
}
.con2 ul{list-style-type: none;}
.con3 ul{list-style-position: inside;}
.con4 ul{
    list-style-type: circle;
    list-style-position: inside;
}

/* h2 폰트 다 다르게 / 백그라운드컬러 다 다르게 /폰트컬러 선택 */
.con1>h2{
    font-family: "Gaegu", sans-serif;
    background-color: rgb(212, 112, 217);
    color: rgb(59, 59, 89);
}
.con2>h2{
    font-family: "Noto Serif KR", serif;
    background-color: #ccc;
    color: #117749;
}
.con3>h2{
    font-family: "Kirang Haerang", system-ui;
    background-color: blanchedalmond;
}
.con4>h2{
    font-family: "East Sea Dokdo", sans-serif;
    background-color: aquamarine;
    color: #543236;
}