@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Gaegu&family=Kirang+Haerang&family=Noto+Serif+KR:wght@200..900&display=swap');

* {margin: 0; padding: 0; }
body{
    background-color: blueviolet;
}
.container{
    width: 500px; 
    border: 1px solid #fff;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.ul1{
    background-color: hsl(0, 61%, 64%);
    font-family: "Gaegu", sans-serif;
}
.ul2{
    background-color: rgb(93, 202, 212);
    font-family: "Noto Serif KR", serif;
}
.ul3{
    background-color: #ccc;
    font-family: "East Sea Dokdo", sans-serif;
}
.ul4{
    background-color: rgb(217, 208, 111);
    font-family: "Kirang Haerang", system-ui;
}
/* 1. hsl / 2.rgb / 3.16진수/ 4.rgba  구글웹폰트 4개 */