@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{margin: 0; padding: 0;}
ol,ul {list-style: none;}
a {text-decoration: 0; outline: 0;}
body {
    font: 17px/1.4/* ->자간 */ "Orbitron", sans-serif;
    letter-spacing: 1px;
    color: #ddd;
    background-color: #000;
}
.wrap{
    position: fixed;
    width: 100%; height: 100%;
    perspective: 1300px;
}
.wrap > video {
    width: 100%; height: 100%;
    position: fixed;
    object-fit: cover;
    opacity: .5;
}
.wrap > #circle{
    width: 600px; height: 800px;
    position: absolute;
    left: 50%; top: 50%;
    margin-left: -300px;
    margin-top: -400px;
    transform-style: preserve-3d;
    animation: ani linear 30s infinite; 
    /* animation-play-state: paused; */
}
@keyframes ani {
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(360deg);}

}
.wrap > #circle article{
    width: 100%; height: 100%;
    position: absolute; 
    left: 0; top: 0;
    backface-visibility: hidden;
}
.wrap > #circle article h2{
    position: absolute;
    left: 0; top: 0;
    font-size: 30px;
    opacity: 0;
    transition: 0.5s;
}
.wrap > #circle article:hover h2{
    top: -60px;
    opacity: 1;
}
.wrap > #circle article .inner{
    width: 100%; height: 100%;
}
.wrap > #circle article .inner>div{
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,.5);
    background: rgba(255, 255, 255, 0.06);
    width: 100%; height: 100%;
    padding: 50px;
    position: relative;
    opacity: 0.7;
    cursor: pointer;
    overflow: hidden;
    transition: .5s;
}
.wrap > #circle article .inner>div:hover{
    background: rgba(255,255,255,0.15);
    transform: scale(1.03);
    opacity: 1;
}
.wrap > #circle article .inner>div:hover h3{
    color: lightcyan;
    text-shadow: 0 0 10px aqua;
}
.wrap > #circle article .inner>div:hover i{
    color: lightcyan;
    text-shadow: 0 0 10px aqua;
    transform: scale(1.2);
    opacity: 1;
}

/* face1 */
.wrap > #circle .face1 .inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrap > #circle .face1 .inner>div{
    width: 290px; height: 254px;
    text-align: center;
    margin-bottom: 20px;
}
.wrap > #circle .face1 .inner>div h3{
    margin-top: 20px;
    letter-spacing: 2px;
    transition: .5s;
}
.wrap > #circle .face1 .inner>div p i{
    font-size: 100px;
    opacity: .7;
    transition: .5s;
}

/* face2 */
.wrap > #circle .face2 .inner>div{width: 100%; height: 100%;}

.wrap > #circle .face2 .inner>div img{
    width: 100%; /* height값은 종횡비 자동으로 맞춰짐 */
    margin-top: 30px;
    margin-bottom: 40px;
}
.wrap > #circle .face2 .inner>div h4{
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}
.wrap > #circle .face2 .inner>div p{
    font: 18px/1.3 'arial';
    color: #ccc;
}

/* face3 */
.wrap > #circle .face3 .inner>div{
    width: 100%; height: 253px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.wrap > #circle .face3 .inner>div:nth-child(2) .pic{background-image: url(../img/member2.jpg);}
.wrap > #circle .face3 .inner>div:nth-child(3) .pic{background-image: url(../img/member3.jpg);}

.wrap > #circle .face3 .inner>div .pic{
    width: 120px; height: 120px;
    background: url(../img/member1.jpg) no-repeat center top/cover;
    border-radius: 60px;
    border: 1px solid #fff;
    flex-shrink: 0;
}
.wrap > #circle .face3 .inner>div .con{width: 340px;}
.wrap > #circle .face3 .inner>div .con h3{
    font-size: 20px;
    color: #fff;
}
.wrap > #circle .face3 .inner>div .con p{
    font: 18px/1.3 'arial';
    color: #fff;
    margin-top: 20px;
}
.wrap > #circle .face3 .inner>div .con span{
    position: absolute;
    right: 50px; bottom: 50px;
    font-size: 12px;
    line-height: 1;
    color: aqua;
    opacity: 0.5;
}

/* face4 */
.wrap > #circle .face4 .inner>div p{
    font: 16px/1.3 'arial';
    color: #bbb;
    margin-top: 20px;
}
.wrap > #circle .face4 .inner>div:nth-of-type(1){
    width: 100%; height: 600px;
    margin-bottom: 20px;
}
.wrap > #circle .face4 .inner>div:nth-of-type(1) video{
    width: 100%;
    border: 1px solid #fff;
    margin-bottom: 30px;
}
.wrap > #circle .face4 .inner>div:nth-of-type(2){
    width: 100%; height: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrap > #circle .face4 .inner>div:nth-of-type(2) h3{
    width: 100%;
    font-size: 20px;
}
.wrap > #circle .face4 .inner>div:nth-of-type(2) em{
    font-size: 12px;
    color: #ccc;
    margin-top: 23px;
}

/* face5 */
.wrap > #circle .face5 .inner>div img{margin-bottom: 40px;}
.wrap > #circle .face5 .inner>div .pic{
    width: 100%; height: 250px;
    border: 1px solid #bbb;
    box-sizing: border-box;
    background: rgba(0,0,0,.3) url(../img/robot.png) no-repeat center/cover;
    margin-bottom: 50px;
}
.wrap > #circle .face5 .inner>div .reflect{
    position: absolute;
    right: 0; top: 100%;
    transition: 0.5s;
}
.wrap > #circle .face5:hover .inner>div .reflect{top: -40%; }

/* face6 */
.wrap > #circle .face6 .inner>div{
    width: 100%; height: 185px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.wrap > #circle .face6 .inner>div i{
    font-size: 50px;
    color: #fff;
    width: 22%; height: 100%;
    border-right: 1px solid #bbb;
    line-height: 90px;
    padding-left: 15px;
    box-sizing: border-box;
}
.wrap > #circle .face6 .inner>div .con{
    width: 75%; height: 100%;
    box-sizing: border-box;
    padding-left: 40px;
}
.wrap > #circle .face6 .inner>div .con h3{
    font-size: 20px; 
    margin-bottom: 5px;
}
.wrap > #circle .face6 .inner>div .con p{
    font:18px/1 'arial';
    color: #999;
}

/* face7 */
.wrap > #circle .face7 .inner>div>div{
    width: 100%; height: 100%;
    box-sizing: border-box;
    border: 1px solid #aaa;
    overflow: hidden;
    position: relative;
}
.wrap > #circle .face7 .inner>div>div video{
    position: absolute;
    width: 100%; height: 100%;
    opacity: .9;
    object-fit: cover;
}
.wrap > #circle .face7 .inner>div>div h3{
    position: absolute;
    z-index: 2;
    left: 50px; top: 140px;
    font-size: 40px;
    color: #fff;
    line-height: 1.1;
    text-shadow: 2px 2px 5px #555;
}
.wrap > #circle .face7 .inner>div>div img:nth-of-type(1){
    position: absolute;
    bottom: 0; right: 0;
}
.wrap > #circle .face7 .inner>div>div img:nth-of-type(2){
    position: absolute;
    bottom: 85px; right: -18px;
}

/* face8 */
.wrap > #circle .face8 .inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrap > #circle .face8 .inner>div:nth-of-type(1){
    width: 100%; height: 400px;
    margin-bottom: 20px;
}
.wrap > #circle .face8 .inner>div:nth-of-type(1) i{
    color: #fff;
    font-size: 200px;
    position: absolute;
    bottom: 60px; left: 50px; opacity: .9;
}
.wrap > #circle .face8 .inner>div:nth-of-type(1) span{
    position: absolute;
    bottom: 60px; right: 60px;
    font-size: 120px;
}
.wrap > #circle .face8 .inner>div:nth-of-type(1) b{
    position: absolute;
    right: -20px; top: -20px;
    font: 60px/1 'arial';
}
.wrap > #circle .face8 .inner .face8_con{
    width: 290px; height: 380px;
}
.wrap > #circle .face8 .inner .face8_con i{
    font-size: 120px;
    color: #fff;
    opacity: .8;
}
.wrap > #circle .face8 .inner .face8_con h4{
    margin-top: 30px;
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 1;
}
.wrap > #circle .face8 .inner .face8_con p{
    font: 16px/1 'arial';
    color: #ccc;
}
.wrap > #circle .face8 .inner .face8_con h5{
    font-size: 40px;
    margin-top: 20px;
    letter-spacing: 3px;
    position: relative;
}
.wrap > #circle .face8 .inner .face8_con h5 b{
    font-size: 24px; 
    line-height: 1;
    font-family: 'arial';
    color: #ddd;
    position: absolute;
    right: 40px; top: 0;
}
.wrap > #circle .face8 .inner>div:nth-of-type(3){text-align: center;}

.face1{transform: rotateY(0deg) translateZ(-764px);}
.face2{transform: rotateY(45deg) translateZ(-764px);}
.face3{transform: rotateY(90deg) translateZ(-764px);}
.face4{transform: rotateY(135deg) translateZ(-764px);}
.face5{transform: rotateY(180deg) translateZ(-764px);}
.face6{transform: rotateY(225deg) translateZ(-764px);}
.face7{transform: rotateY(270deg) translateZ(-764px);}
.face8{transform: rotateY(315deg) translateZ(-764px);}