@charset "UTF-8" ;
/* reset */
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: inherit;}

#wrap{width: 1200px; margin: 0 auto;}
header{
    width: 1200px; height: 100px;
    background: rgba(100, 100, 0, .5);
    position: fixed;
    top: 0; left: 50%;
    margin-left: -600px;
    z-index: 10;
}
header h1{
    background: red;
    float: left;
    margin-top: 25px;
}
header nav{
    width: 70%; 
    background: green;
    float: right;
    margin-top: 60px;
    text-align: center;
}
header nav ul.gnb{}
header nav ul.gnb>li{
    width: 25%;
    background: lavender;
    float: left;
    position: relative;
}

header nav ul.gnb>li>a{
    display: block;
    width: 100%; height: 40px;
    background: lightcoral;
    line-height: 40px;
}
header nav ul.gnb>li>ul.sub li{
    width: 100%; height: 50%;
    background: greenyellow;
    line-height: 50px;
}
header nav ul.gnb>li:hover>a{background: red;}

header nav ul.gnb>li>ul.sub {
    width: 100px; position: absolute;left: 0; top: 40px;
}
header nav ul.gnb>li>ul.sub li a{
    display: block;
}
header nav ul.gnb>li>ul.sub li:hover a{
    background: red;
}

.contents{
    height: 2000px;
    background: blue;
    margin-top: 100px;
    position: relative;
    
}