@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/* font-family: "Poiret One", sans-serif; */

*{margin: 0; padding: 0;}
body{
    width: 100%; height: 100vh;
    background: #b1e1e2;
    overflow: hidden;
}
body.sky{
    animation: skyBg linear 20s infinite;
}
@keyframes skyBg {
    0%{background-color: #b08fcc;}
  25%{background-color:#b1e1e2}
  50%{background-color:#fcd2e2;}
  75%{background-color:#636888;}
  100%{background-color:#b08fcc;}
}
.btn1{
    cursor: pointer;
    padding: 20px;
}
h1{
    width: 1000px; 
    font:  92px/1 "Poiret One", sans-serif;
    color: #fff; 
    text-align: center;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%,150%);
}
section{
    width: 1000px; height: 400px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-70%);
}
section img{position: absolute;}
article.sky{
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
}
article.sky .sun{
    top: -150px; left: 50%; margin-left: -100px;
    transform-origin: center 500px; /* 태양의 중심 축을 아래쪽으로 */
    animation: sunAni linear 20s infinite;
}
@keyframes sunAni {
    0%{opacity: 0; transform: rotate(-90deg);}
    25%{opacity: 1; transform: rotate(-30deg);}
    500%{opacity: 1; transform: rotate(30deg);}
    75%{opacity: 0; transform: rotate(90deg);}
    100%{opacity: 0; transform: rotate(-90deg);}
}
article.sky .cloud1{
    top: -30px; left: 10%;
    animation: flow linear 10s infinite;
}
article.sky .cloud2{
    top: 20px; left: 0;
    animation: flow linear 20s infinite;
}
.circle{
    bottom: 104px; left: 50%; margin-left: -165px;
    opacity: .7;
    animation: rotate linear 20s infinite;
}
/* 대관람차 회전하는 키프레임 */
@keyframes rotate {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
.town_night{
    bottom: 0; left: 40px;
}
.town_day{
    bottom: 0; left: 40px;
    animation: dayAni linear 20s infinite;
}

/* 밤에 특정 요소를 숨기는 키프레임 */
@keyframes dayAni {
    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 1;}
    75%{opacity: 0;}
    100%{opacity: 0;}
}
.man{
    left: 0; bottom: 0;
    animation: flow linear 7s infinite;
}
.family{
    left: 0; bottom: 0;
    animation: flow linear 20s infinite;
}

@keyframes flow {
    0%{opacity: 0;}
    10%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 0; left: 90%;}
    }