@charset "utf-8";

@media print {
body, h1, h2, h3, h4, h5, dl, dt, dd, th, td, div, p, a,
form, fieldset,legend, input, button, label, textarea {font-family:dotum, Helvetica, sans-serif !important;}
table td,th{font-family:dotum, Helvetica, sans-serif !important;}
}

/* DEFAULT */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,button,form,fieldset,p,blockquote{margin:0;padding:0;}

img, fieldset {border:0 none}
body, h1, h2, h3, h4, h5, dl, dt, dd, th, td, div, p, a{line-height:1.5;}
form, fieldset,legend, input, button, textarea, label{line-height:1.65; font-family: 'noto-r', 'Malgun Gothic', sans-serif;}
ul, ol, li {list-style:none outside}
table{border-collapse:collapse}
input, textarea{display:inline-block;font-size:1em;vertical-align:middle; vertical-align:middle;}
textarea {resize:none; padding:5px; line-height:18px;}
address, em{font-style:normal}
caption{overflow:hidden;width:0;height:0}
legend{font:0; line-height:0; text-indent:-9999em;}
hr{display:none;}
a{text-decoration:none;color:inherit; cursor:pointer;}
a:hover,a:focus,a:active{cursor:pointer !important}
body{font-size:12px; -webkit-text-size-adjust:none;}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="image"],
input[type="button"],
input:checked[type="checkbox"]{background-color:#fff; vertical-align:middle; }
input[type="checkbox"]{ box-sizing:border-box; }
* {box-sizing: border-box;}